body {
  padding: 0;
  margin: 0 auto;
  color: #fff;
  
  /* la imagen a ser mostrada a pantalla completa */
  background:url('../imagenes/fondo.jpg') no-repeat center center;
 
  /* nos aseguramos que el elemento ocupe toda la ventana del navegador */
  min-height:100%;



  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.box {
  width: 100%;
  margin: auto;
  margin-top: 2.5rem;
  max-width: 500px;
  min-height: 600px;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);

  background: rgb(0, 56, 103);
  background: linear-gradient(
    15deg,
    rgba(0, 56, 103, 1) 0%,
    rgba(0, 1, 5, 0.4682247899159664) 100%
  );
}

.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0px 70px 50px 70px;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  border:rgb(255, 230, 3) solid 1px;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
}
.tab :hover{
  background: rgb(255,188,0);
  background: linear-gradient(138deg, rgba(255,188,0,1) 0%, rgba(255,149,0,1) 100%);
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #fff;
  border:rgb(255, 230, 3) solid 1px;
  
  background: rgb(255,188,0);
  background: linear-gradient(138deg, rgba(255,188,0,1) 0%, rgba(255,149,0,1) 100%);
}
.login-form {
  min-height: 300px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  border: rgb(21, 179, 252) solid 1px;
}
.login-form .group input[data-type="password"] {
  text-security: circle;
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: white;
  font-size: 12px;
}
.login-form .group .button {
  background: #1161ee;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: #fff;
}
.login-form .group .check:checked + label .icon {
  background: #1161ee;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
  text-align: center;
}

.error {
  display: block;
  width: 100%;
  height: auto;
  min-height: 50px;
  position: top;
  left: 0px;
  right: 0px;
  top: 0px;
  box-shadow: 0 1px 1px #888888;
  background-color: Red; /* Red */
  color: white;
  z-index: 2;
}

/* The close button */
.closebtn {
  text-align: center;
  background-color: transparent;
  width: 20px;
  height: 20px;
  color: #fff;
  margin-top: 10px;
  font-weight: bold;
  margin-right: 10px;
  float: right;
  font-size: 40px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.textaviso {
  color: #f00;
}

.imagen{
  padding-top: 1rem;
  width: 150px;
  position: float;
  margin-top: -60px;
}
